@import "reset.css";

body,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #594dc2;
  background: whitesmoke;
}

img {
  width: 10rem;
  height: 10rem;
}

footer {
  position: absolute;
  bottom: 0.2rem;
}
